@import 'tailwindcss';

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@theme {
  --font-pre: 'Pretendard', sans-serif;

  --color-point-color: #3c25cc;
}

body {
  font-family: var(--font-pre);
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: transparent transparent;
}

body::-webkit-scrollbar {
  width: 0px; /* Chrome/Safari */
  background: transparent; /* Chrome/Safari */
}
